@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    font-family: "Playfair Display" ;
}

body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
}

.container {
    width: 90%;
    max-width: 1200px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid lightskyblue;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

th[rowspan] {
    vertical-align: middle;
}
